
/* Top Navigation Bar */

/* <nav> */
._navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  justify-content: flex-end;
  position: fixed;
  top:0;
  z-index:1;
  width:100%;
<<<<<<< HEAD
  
}

=======

}


>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
._navbar-logo{
    margin-top:10px;
    margin-right:auto;
    margin-left: auto;
    position: relative;
    width:100px;
}

<<<<<<< HEAD
=======
.menu{
  overflow: hidden;
}

>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b

.menu-items{ 
  float: none;
  margin:auto;
  position: relative;
  right:0px;
<<<<<<< HEAD
  left:20px;
}

.second-menu{
 margin-right:2rem;
 display:flex;
}

=======
  left:10px;
  
  
}
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
/* Hamburger Menu */
.menu-btn {
  position: absolute;
  left:0.5rem;
  margin-top:1.5rem;
  padding:0.25rem;
  width: 20px;
  height: 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width:30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}




/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* WHITE ICONS */
.icon{
  filter: invert(100%);
}

.menu-items a{
  margin:1rem;
<<<<<<< HEAD
  padding:1rem;
=======
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
}

.menu-items a:hover{
  text-decoration:none;
  color:rgba(255, 255, 255, 0.672)
}

/* <ul> */
._navbar-buttons {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
._nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Icon Button */
.icon-button {
<<<<<<< HEAD
  --button-size: calc(var(--nav-size) * 0.7);
=======
  --button-size: calc(var(--nav-size) * 0.5);
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
<<<<<<< HEAD
  padding: 0px;
  margin: 0px;
=======
  padding: 5px;
  margin: 2px;
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  width: 20px;
  height: 20px;
  color: aliceblue;
}




/* Dropdown Menu */

.dropdown {
  position: absolute;
<<<<<<< HEAD
  top: 60px;
=======
  top: 56px;
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
<<<<<<< HEAD
  padding:5px 5px;
=======
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
  
}

.menu {
  width: 100%;
  padding:10px;
<<<<<<< HEAD
  
=======
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
}

.menu-item, .dropdown-item {
  height: 50px;
  color:white;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
<<<<<<< HEAD
  padding: 0.5rem;
  
}

.menu-item .icon-button {
  margin-right: 1rem;
=======
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover, .dropdown-item:hover {
  background-color: #525357;
  text-decoration: none;
<<<<<<< HEAD
  color:white;
  padding:(-1rem);
=======
  color:white
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
<<<<<<< HEAD
  transform: translateX(120%);
=======
  transform: translateX(110%);
>>>>>>> 007da92f9695d416940b6e6e5dc987f8e36bfa8b
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/* RESPONSIVE */


@media screen and (max-width: 1000px) {
  .menu-items, .hide-icons{
    display:none;
  }



  ._navbar-logo{
    position:absolute;
    right:60%;
    left:45%;
  }

}

@media screen and (min-width: 1000px) {
  .menu-btn{
    display:none;
  }
}
